<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
"http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">
<mapper namespace="com.dreamail.mercury.domain.AdminUserMapper">

	<select id="getAuthorityByNameAndPassword" parameterType="adminUser"
		resultType="string">
		select authority from admin_user
		where username = #{username} and password = #{password}
	</select>
	
</mapper>