BODY {
	BORDER-RIGHT: 0px; BORDER-TOP: 0px; FONT-SIZE: 9pt; MARGIN: 0px; BORDER-LEFT: 0px; BORDER-BOTTOM: 0px; BACKGROUND-COLOR: #ffffff
}
TD {
	FONT-SIZE: 9pt;
}
.OperateLargeIcon {
	CURSOR: hand; TEXT-ALIGN: center
}
.Button1 {
	FONT-SIZE: 9pt;BORDER-RIGHT: 0px; BORDER-TOP: 0px; BORDER-LEFT: 0px; CURSOR: hand; COLOR: #ffffff; PADDING-TOP: 4px; BORDER-BOTTOM: 0px; HEIGHT: 19px; BACKGROUND-COLOR: #054FA4;
}
